.home-navbar {
    overflow: hidden;
    background-color: aliceblue;
    position: fixed;
    top: 0; 
    display: flex;
    gap: 20px;
    width: 100%;
    
}

@media (max-width: 414px) and (min-height: 800px) {
    .home-navbar {
        height: 7vh;
        justify-items: space-between;
    }
}